<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XingTian - about</title>
    <link href="build/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="build/css/about.css" rel="stylesheet">
  </head>
  <body>
  
    <header>
      <div class="filter"></div>
      <div class="navbar-wrapper">
        <div class="container">
          <nav class="navbar navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <span aria-hidden="true" class="glyphicon glyphicon glyphicon-fire"></span>
                XingTian
              </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/about">关于</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="ana">
                <p>故事的开头总是这样，适逢其会，猝不及防。<br />故事的结局总是这样，花开两朵，天各一方。</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="swapper">
                <div class="personal-header">
                  <span class="tabbar">
                    Personal.js
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </span>
                </div>
                <ol id="personal">
                  <li><var>var</var> <code></code> = {</li>
                  <li class="text-indent"><var>name</var> : <code></code>,</li>
                  <li class="text-indent"><var>age</var> : <code></code>,</li>
                  <li class="text-indent"><var>profession</var> : <code></code>,</li>
                  <li class="text-indent"><var>status</var> : <code></code></li>
                  <li>};</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="sample">
      <div class="container">
        <div class="page-header">
          <h1>作品集</h1>
        </div>
        <div class="project-wrapper">
          <div class="project">
            <div class="row item">
              <div class="col-md-5 col-xs-5 col-md-offset-1">
                <img class="project-thumb" />
              </div>
              <div class="col-md-5 col-xs-5 col-md-offset-1 intro">
                <h2>爱疯抢</h2>
                <p>项目是爱娃塔科技有限公司的主要产品</p>
                <p>项目在微信端、app均已上线</p>
                <p>负责参与首页、商品详情、活动、支付、个人中心等功能模块</p>
                <p>使用frozen.js框架 + zepto.js搭建</p>
                <p>运用到css的流式布局、transition、transform等功能</p>
                <p>负责将ui设计稿进行快速切图，利用ajax实现数据交互，使用弹窗、列表等基本组件有效率的开发</p>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-5 col-xs-5 col-md-offset-1">
                <img class="project-thumb" />
              </div>
              <div class="col-md-5 col-xs-5 col-md-offset-1 intro">
                <h2>非常u惠</h2>
                <p>项目是爱娃塔科技有限公司的主要产品</p>
                <p>项目在微信端、app均已上线</p>
                <p>负责参与首页、商品详情、活动、支付、个人中心等功能模块</p>
                <p>使用frozen.js框架 + zepto.js搭建</p>
                <p>运用到css的流式布局、transition、transform等功能</p>
                <p>负责将ui设计稿进行快速切图，利用ajax实现数据交互，使用弹窗、列表等基本组件有效率的开发</p>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-5 col-xs-5 col-md-offset-1">
                <img class="project-thumb" />
              </div>
              <div class="col-md-5 col-xs-5 col-md-offset-1 intro">
                <h2>茂业欢乐GO</h2>
                <p>负责主题页面切图</p>
                <p>使用frozen.js框架 + zepto.js搭建</p>
                <p>对列表进行组件式封装</p>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-5 col-xs-5 col-md-offset-1">
                <img class="project-thumb" />
              </div>
              <div class="col-md-5 col-xs-5 col-md-offset-1 intro">
                <h2>消费赠</h2>
                <p>负责页面切图</p>
                <p>使用frozen.js框架 + zepto.js搭建</p>
                <p>利用ajax装载二维码和读取详情</p>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-5 col-xs-5 col-md-offset-1">
                <img class="project-thumb" />
              </div>
              <div class="col-md-5 col-xs-5 col-md-offset-1 intro">
                <h2>拉新注册</h2>
                <p>负责页面切图</p>
                <p>编写验证码倒计时</p>
                <p>活动说明弹出层</p>
                <p>使用frozen.js框架 + zepto.js搭建</p>
              </div>
            </div>
          </div>
          <span class="glyphicon glyphicon-chevron-left shank left"></span>
          <span class="glyphicon glyphicon-chevron-right shank right"></span>
        </div>
      </div>
    </div>

    <div class="skill">
      <div class="container">
        <div class="skill-header">
          <h2>精通前端开发所需的基本知识</h2>
          <p>也在不断学习新型技术</p>
        </div>
        <div class="selection" data-switch="false" data-el="false">
          <span class="option" data-option="option1" data-target="#skill1">jQuery</span>
          <span class="option" data-option="option2" data-target="#skill2">CSS</span>
          <span class="option" data-option="option3" data-target="#skill3">HTML</span>
          <span class="option" data-option="option4" data-target="#skill4">Bootstrap</span>
          <span class="option" data-option="option5" data-target="#skill5">Node.js</span>
          <span class="option" data-option="option6" data-target="#skill6">React.js</span>
        </div>
        <div class="wrapper" id="wrapper">
          <div class="item" id="skill1">
            <ul class="list-group item-body">
              <li class="list-group-item">4年的使用经验</li>
              <li class="list-group-item">编写过弹出窗、轮播等插件</li>
              <li class="list-group-item">精通DOM操作</li>
              <li class="list-group-item">熟练使用AJAX</li>
              <li class="list-group-item">对闭包、原型等概念有很深的理解，以及丰富的应用经验</li>
            </ul>
          </div>
          <div class="item" id="skill2">
            <ul class="list-group item-body">
              <li class="list-group-item">4年的使用经验</li>
              <li class="list-group-item">熟练使用盒子模型和流模型，快速切图</li>
              <li class="list-group-item">css3的转换(translate、scale、rotate)，过渡(transition)，动画(animation)，都有丰富的使用经验</li>
              <li class="list-group-item">了解less等高效的动态css语言</li>
            </ul>
          </div>
          <div class="item" id="skill3">
            <ul class="list-group item-body">
              <li class="list-group-item">4年的使用经验</li>
              <li class="list-group-item">熟悉html的常用标签，并有丰富的使用经验</li>
              <li class="list-group-item">有画布(canvas)的使用经验</li>
              <li class="list-group-item">了解H5的视频、音频标签</li>
              <li class="list-group-item">了解web储存(localStorage、sessionStorage)</li>
            </ul>
          </div>
          <div class="item" id="skill4">
            <ul class="list-group item-body">
              <li class="list-group-item">1年多的项目使用经验</li>
              <li class="list-group-item">熟悉框架的布局和基本组件</li>
              <li class="list-group-item">熟练使用框架的插件</li>
            </ul>
          </div>
          <div class="item" id="skill5">
            <ul class="list-group item-body">
              <li class="list-group-item">接触1年</li>
              <li class="list-group-item">做了一个“笔记”的小型网站(目前有登录、注册、添加笔记、编辑笔记的功能)</li>
              <li class="list-group-item">当前的个人网站项目也是用node.js实现的</li>
              <li class="list-group-item">熟悉使用express来搭建项目</li>
              <li class="list-group-item">了解异步操作和同步操作</li>
            </ul>
          </div>
          <div class="item" id="skill6">
            <ul class="list-group item-body">
              <li class="list-group-item">做了一个列表(按分类筛选、时间排序功能)组件</li>
              <li class="list-group-item">熟悉jsx</li>
              <li class="list-group-item">了解组件的生命周期(getDefaultProps、getInitialState、render、componentDidMount等)</li>
              <li class="list-group-item">了解数据流(prop、state)</li>
              <li class="list-group-item">了解事件处理</li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>

    <div class="contact">
      <div class="container">
        <h2>可以通过以下方式与me联系</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <img src="build/img/github.png" class="img-circle">
              <div class="caption">
                <h4>github</h4>
                <p>github上存放着项目<br/>
                  有工作上项目的总结<br/>
                  也有平时的探索<br/>
                  欢迎来一起“玩”出一个美好的未来</p>
                <p><a href="https://github.com/benjiaoxz" class="btn btn-link" role="button" target="_blank">前往</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <img src="build/img/mail.png" class="img-circle">
              <div class="caption">
                <h4>Mail</h4>
                <p>邮件沟通更有效率<br/>
                  一封深思熟虑之后的精华<br/>
                  完整的信息<br/>
                  程序员文笔一点都不差</p>
                <p><a href="mailto:445088977@aa.com" target="_blank" class="btn btn-link" role="button">前往</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="account">
      <div class="container">
        <div class="row dialog">
          <div class="col-md-12">
            <div class="page-header">
              <h2>讨论组(2)</h2>
              <span class="glyphicon glyphicon-user"></span>
            </div>
          </div>
          <div class="col-md-12 dialog-left">
            <img src="build/img/portrait-1.jpg" class="img-circle">
            <div class="popover right">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>你的专业不是计算机，那是怎么想到去做前端开发的呢？</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-right">
            <img src="build/img/portrait-2.jpg" class="img-circle">
            <div class="popover left">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>我在高中时期就接触到网页设计了。</p>
                <p>那时候看到的一个案例是：在dreamweaver里随便写几行代码，就可以出来一个很漂亮的页面。觉得很新奇，开始上网查资料和买书自学。</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-left">
            <img src="build/img/portrait-1.jpg" class="img-circle">
            <div class="popover right">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>你除了自学，有没有其他的学习经历？</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-right">
            <img src="build/img/portrait-2.jpg" class="img-circle">
            <div class="popover left">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>在12年，我刚毕业的那年，在广州中山大学，参加了一个为期3个月的简短培训。</p>
                <p>学习的技术：dreamweaver基本操作和简单的标签认识，以及仿门户网站制作的实操。学习ps，设计导航栏、新闻栏目等。使用flash制作动画。</p>
                <p>最后是介绍asp和php的基础知识。</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-left">
            <img src="build/img/portrait-1.jpg" class="img-circle">
            <div class="popover right">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>你工作了4年，但是也换了很多份工作，为什么呢？</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-right">
            <img src="build/img/portrait-2.jpg" class="img-circle">
            <div class="popover left">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>因为是自学出身的，所以在基础上比别人少了许多优势。</p>
                <p>所以一开始就希望能进入到很好的团队去锻炼。</p>
                <p>但是事已愿为：在广州这种满大街都是大学生的城市里，你想要突出，就必须要有拔尖的优势。前期的找工作遇到了很多阻碍，最后去了一家只有一个设计、一个前端、一个后台、一个产品策划的公司，而我就是那一个前端。</p>
                <p>创业公司风险高，做了很短时间就离开了公司。在找寻了很久之后，终于找到有成熟团队，稳定框架的公司。</p>
                <p>但是我被分配到广告组，主要负责制作简单图片广告和文案，只有不多的页面开发任务。</p>
                <p>在深思熟虑和哥哥的推荐之后，觉得深圳机会多，而且有更多的学习机会，就从广州离职来到了深圳。</p>
                <p>在深圳锻炼了2年，虽然吸收了很多的工作经验和技术，但是在团队开发这方面还是比较缺失的，很希望能在团队开发中学习。</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-left">
            <img src="build/img/portrait-1.jpg" class="img-circle">
            <div class="popover right">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>评价你自身有哪些优势？</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 dialog-right">
            <img src="build/img/portrait-2.jpg" class="img-circle">
            <div class="popover left">
              <div class="arrow"></div>
              <div class="popover-content">
                <p>更懂得知识的积累和获取：有自学的经历，知道如果想要成长，必须要有足够的知识积累，在积累足够时取其精华、去其糟粕，才能更快的成长。</p>
                <p>有丰富的切图经验：在之前公司最多的任务就是将设计稿做切图开发，曾经有过，在一个半星期将整个网络商城的所有页面切图完成的经历。</p>
                <p>精通jQuery框架的使用：4年的使用经验。</p>
                <p>熟悉css兼容浏览器的编写：pc端ie6\7\8及以上的兼容。移动端的css3技术也十分熟悉：流式布局、动画效果。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="build/common/js/jquery.min.js"></script>
    <script src="build/common/js/bootstrap.min.js"></script>
    <script src="build/js/xingtian.personal.js"></script>
    <script src="build/js/xingtian.carousel.js"></script>
    <script src="build/js/xingtian.skill.js"></script>
    <script>
      
      $(function() {

        $('#personal').xingtianWriteCode({
          message: [
            'personal',
            '"吴帝春"',
            '26',
            '"网页前端开发工程师"',
            '"就职中"'
          ]
        });

        projectCarousel();

      });

      /***  iframe add src  
       *    @source           资源
       *    @current          当前
       *    projectAddsrc      执行添加src
      **/
      var source = ["build/img/01.png","build/img/02.png","build/img/03.png","build/img/04.png","build/img/05.png"];
      var current = 0;
      function projectCarousel() {
        
        var project = $('.project-wrapper').xingtianCarousel();
        projectAddsrc();

        project.on('carousel.left:shown', function() {
          if(source[current + 1]) {
            current++;
          } else {
            current = 0;
          }

          if(!$('.project-thumb').eq(current).attr('src')) {
              projectAddsrc();
          }
        });
        project.on('carousel.right:shown', function() {
          if(source[current - 1]) {
            current--;
          } else {
            current = source.length - 1;
          }

          if(!$('.project-thumb').eq(current).attr('src')) {
              projectAddsrc();
          }
        });
      }

      function projectAddsrc() {
        $('.project-thumb').eq(current).attr('src', source[current]);
      }

    </script>

  </body>
</html>